ul.paragraphs-add-dialog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  input.field-add-more-submit {
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: auto calc(100% - 10px);
    padding-left: 40px;
    text-align: left;
    border-radius: 3px;
  }
}

.paragraphs-add-dialog-row {
  padding: 5px;

  input {
    width: 100%;
    min-width: 200px;
  }
}

.js .field--widget-paragraphs .add-in-between-row {
  border: none;

  & > td {
    padding: 0;
    text-align: center;
  }

  .paragraph-type-add-modal {
    display: block;
    height: 0;
    margin: -12px 0 0 0;
    padding: 0;

    @media screen and (max-width: 600px) {
      & input {
        padding-bottom: 2px;
        width: auto;
      }
    }
  }
}
