<div class="panel dashboard-block block-confirmation">
	<div class="message-conf">
		Are you sure to buy the ' {{ title_page }} ' plan, cost: {{ price }} ?
	</div>
	<div class="action-links but-page" >
		<a class="button button-action button--primary button--small" href="/plans/success">Proceed</a>
		<a class="button button-action button--primary button--small" href="/plans/list/{{ ret_page }}">Cancel</a>
	</div>
</div>
