<!-- Add you custom twig html here -->
<div class="text-muted">
	<div >
		Hi <b>{{msisdn}}</b>
	</div>
	<div >
		Thanks you! your plan/balance has been successfully acquired, please wait a few minutes to see the changes reflected
	</div>
</div>